# See https://pre-commit.com for more information
# Use `pre-commit install -t commit-msg -t pre-commit` to install the hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.1
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        entry: uv run mypy .
        additional_dependencies: ["uv"]
        types: [python]
        pass_filenames: false
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        args:
          - --contrib=CT1
          - --ignore=B6
          - --msg-filename
