# Install with `prek install`
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-yaml
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/bernikr/pre-commit-ruff-version-sync
    rev: v0.1.2
    hooks:
      - id: ruff-version-sync
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        entry: uv --no-progress run mypy .
        additional_dependencies: ["uv"]
        types: [python]
        pass_filenames: false
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        args:
          - --contrib=CT1
          - --ignore=B6
          - --msg-filename
